<div>
  <h1>Sign Up</h1>
  <form action='/signup' method='post'>
    <input type='text' name='username' placeholder='Username' required>
    <input type='password' name='password' placeholder='Password' required>
    <button type='submit'>Sign Up</button>
  </form>
  <a href='/'>Go to Homepage</a>
  <a href='/dashboard'>Go to Dashboard</a>
  <a href='/login'>Login</a>
</div>